<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="corpo">

        <div class="container">
            <div class="row">
<<<<<<<<< Temporary merge branch 1

            <div class="row">
=========
>>>>>>>>> Temporary merge branch 2
                <div class="col s12 m6">
                    <div class="card brown darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Procedimentos Médicos</span>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/medicalProcedure}">Clique aqui</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card red darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Exames</span>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/exam}">Clique aqui</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<<<<<<<<< Temporary merge branch 1




    </div>


=========
    </div>
>>>>>>>>> Temporary merge branch 2
</html>