<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Médicos</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb">Cadastro de Médicos</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <form th:action="@{/doctor}" method="get">
                    <div class="input-field col s3">
                        <input id="filtro_crm" name="filtro_crm" type="text" th:value="${filtro_crm}">
                        <label for="filtro_crm">CRM</label>
                    </div>
                    <div class="input-field col s5">
                        <input id="filtro_name" name="filtro_name" type="text" th:value="${filtro_name}">
                        <label for="filtro_name">Nome</label>
                    </div>
                    <div class="input-field col s2">
                        <select id="filtro_ativo" name="filtro_ativo" th:value="${filtro_ativo}">
                            <option th:value="true" th:text="Sim" th:selected="${filtro_ativo == true}"></option>
                            <option th:value="false" th:text="Não" th:selected="${filtro_ativo == false}"></option>
                        </select>
                        <label for="filtro_ativo">Ativo</label>
                    </div>
                    <div class="col s2">
                        <div class="row">
                            <a onclick="limparcampos()" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-tooltip="Limpar Campos">
                                <i class="material-icons">clear_all</i></a>
                            <button type="submit" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-tooltip="Pesquisar"><i
                                    class="material-icons">search</i></button>
                            <button title="Socorro" type=" "data-target="modal1"  class="btn-floating btn-large waves-effect waves-light blue tooltipped modal-trigger" data-tooltip="Ajuda"><i
                                    class="material-icons">help</i></button>
                        </div>
                    </div>
                </form>
            </div>
            <table >
                <thead>
                <tr >
                    <th>Código</th>
                    <th>CRM</th>
                    <th>Nome</th>
                    <th><a href="/doctor/new" class="btn-floating btn-small waves-effect waves-light blue tooltipped"data-tooltip="Adicionar"><i
                            class="material-icons">add</i></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctor : ${doctors}">
                    <td th:text="${doctor.id}"><span></span></td>
                    <td th:text="${doctor.crm}"><span></span></td>
                    <td th:text="${doctor.name}"><span></span></td>
                    <td>
                        <a class="btn-floating btn-small waves-effect waves-light blue tooltipped"
                           th:href="${(#mvc.url('DC#editDoctor').arg(0, doctor.id)).build()}" data-tooltip="Editar"><i class="material-icons">edit</i></a>
                        <a class="btn-floating btn-small waves-effect waves-light blue delete tooltipped"
                           th:data-url="${(#mvc.url('DC#deleteDoctor').arg(0, doctor.id)).build()}" data-tooltip="Excluir"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="modal1" class="modal">
                <div class="modal-content center">
                    <h4 class="center">Ajuda do Cadastro de Médicos</h4>
                    </br>
                    <p>Aqui vamos encontrar várias formas de te ajudar:</p>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Cadastrando Médico</a>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Editando Médico</a>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal4">Consultando Médicos</a>
                    </br>
                    </br>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Removendo Médico</a>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal7">Limpar campos de Pesquisa</a>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                </div>
            </div>

            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4 class="center blue-grey-text">Cadastrando Médico</h4>
                    </br>
                    <h5 class="blue-text">Para cadastrar um novo Médico siga o procedimento:</h5>
                    </br>
                    <p class="blue-text">&rarr;Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">add</i></b></p>
                    <p class="grey-text">*Será aberto a página de Cadastro</p>
                    <p class="blue-text">&rarr;Preencha o campo Nome com o nome do Médico (campo obrigatório)</p>
                    <p class="grey-text">*Este nome ficará disponivel para que seja buscado posteriormente no sistema</p>
                    <p class="blue-text">&rarr;Preencha o campo CRM com o número do Médico (este campo aceita apenas números e é obrigatório)</p>
                    <p class="blue-text">&rarr;Preencha o campo Telelefone Residencial </p>
                    <p class="blue-text">&rarr;Preencha o campo Telelefone Celular </p>
                    <p class="blue-text">&rarr;Preencha o campo Email (aceita apenas emails validos) </p>
                    <p class="blue-text">&rarr;Preencha o horários de atedimento do médico clicando nos campos (campo obrigatório) </p>
                    <p class="blue-text">&rarr;Clique no botão Salvar para cadastrar o Médico</p>
                    <p class="grey-text">*ou</p>
                    <p class="red-text">&rarr;Clique no botão Voltar para não cadastrar o Médico, a página retornará para a lista de Médicos</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                </div>
            </div>

            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h4 class="center blue-grey-text">Editando Médico</h4>
                    </br>
                    <h5 class="blue-text">Para editar um Médico siga o procedimento:</h5>
                    </br>
                    <p class="blue-text">&rarr;Na linha do Médico que quer editar, Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">edit</i></b></p>
                    <p class="grey-text">*Será aberto a página do Médico cadastrado</p>
                    <p class="blue-text">&rarr;Clique no(s) campo(s) do Médico que deseja editar</p>
                    <p class="grey-text">*Faça as alterações necessárias</p>
                    <p class="blue-text">&rarr;Clique no botão Salvar para editar o Médico</p>
                    <p class="grey-text">*ou</p>
                    <p class="red-text">&rarr;Clique no botão Voltar para não editar o Médico, a página retornará para a lista de Médicos</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                </div>
            </div>

            <div id="modal4" class="modal">
                <div class="modal-content">
                    <h4 class="center blue-grey-text">Consultando Médico</h4>
                    </br>
                    <h5 class="blue-text">Para Consultar um Médico siga o procedimento:</h5>
                    </br>
                    <p class="blue-text">&rarr;Clique no campo Nome e preencha o nome, ou parte, para consultar o nome do Médico</p>
                    <p class="blue-text">&rarr;Escolha o campo Ativo, para Sim ou Não</p>
                    <p class="blue-text">&rarr;Digite o crm do Médico desejado</p>
                    <p class="blue-text">&rarr;Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">search</i></b> para pesquisar</p>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                </div>
            </div>

            <div id="modal5" class="modal">
                <div class="modal-content">
                    <h4 class="center blue-grey-text">Removendo Médico</h4>
                    </br>
                    <h5 class="blue-text">Para Remover um Médico siga o procedimento:</h5>
                    </br>
                    <p class="blue-text">&rarr;Na linha do Médico que quer remover, Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">delete</i></b></p>
                    <p class="grey-text">*Será aberto uma janela</p>
                    <p class="blue-text">&rarr;Clique no botão Sim para remover o Médico</p>
                    <p class="grey-text">*ou</p>
                    <p class="red-text">&rarr;Clique no botão Cancelar para não remover o Médico, a página retornará para a lista de Médicos</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                </div>
            </div>




            <div id="modal7" class="modal">
                <div class="modal-content">
                    <h4 class="center blue-grey-text">Limpar Campo de Pesquisa</h4>
                    </br>
                    <h5 class="blue-text">Para Limpar o campo de pesquisa de um Médico siga o procedimento:</h5>
                    </br>
                    <p class="blue-text">&rarr;Na linha de Pesquisa, Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">clear_all</i></b></p>
                    <p class="grey-text">*Será limpo o campo nome,crm e ativo.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                </div>
            </div>


        </div>
    </div>
    <div id="confirm_dialog" class="modal">
        <div class="modal-content">
            <h4>Deseja Realmente Excluir o Registro?</h4>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Confirmar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>
</div>

</html>