<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Pacientes</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb">Cadastro de Pacientes</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <form method="get">
                    <div class="input-field col s3">
                        <input id="cpf" name="cpf" type="text">
                        <label for="cpf">CPF</label>
                    </div>
                    <div class="input-field col s8">
                        <input id="name" name="name" type="text">
                        <label for="name">Nome</label>
                    </div>
                    <div class="col s1">
                        <div class="row">
                            <div class="col s6">
                                <a href="/patient"
                                   class="tooltipped btn-floating btn-large waves-effect waves-light blue"
                                   data-tooltip="Limpar os filtros"><i
                                        class="material-icons">clear_all</i></a>
                            </div>
                            <div class="col s6">
                                <button type="submit"
                                        class="tooltipped btn-floating btn-large waves-effect waves-light blue"
                                        data-tooltip="Buscar os pacientes pelos trechos de CPF e nome informados"><i
                                        class="material-icons">done</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-wrapper">
                <table style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th><a href="/patient/new"
                               class="tooltipped btn-floating btn-small waves-effect waves-light blue"
                               data-tooltip="Abrir a tela de cadastro de um novo paciente"><i
                                class="material-icons">add</i></a>
                            <button title="Socorro" type=" "data-target="modal1"  class="btn-floating btn-small waves-effect waves-light blue tooltipped modal-trigger" data-tooltip="Ajuda"><i
                                    class="material-icons">help</i></button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                        <td><span th:text="${patient.id}"></span></td>
                        <td><span th:text="${patient.name}"></span></td>
                        <td><span th:text="${patient.surname}"></span></td>
                        <td>
                            <a class="btn-floating btn-small waves-effect waves-light blue delete tooltipped"
                               th:data-tooltip="${'Inativar o cadastro do paciente ' + patient.name}"
                               th:data-url="${(#mvc.url('PC#deletePatient').arg(0, patient.id)).build()}"><i
                                    class="material-icons">delete</i></a>
                            <a class="btn-floating btn-small waves-effect waves-light blue tooltipped"
                               th:data-tooltip="${'Abrir a tela de edição dos dados do paciente ' + patient.name}"
                               th:href="${(#mvc.url('PC#editPatient').arg(0, patient.id)).build()}"><i
                                    class="material-icons">edit</i></a>
                            <a class="btn-floating btn-small waves-effect waves-light blue tooltipped"
                               th:data-tooltip="${'Imprimir a ficha do paciente ' + patient.name}" target="_blank"
                               th:href="${'/report/patient-registry/' + patient.id}"><i
                                    class="material-icons">local_printshop</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content center">
                <h4 class="center">Ajuda do Cadastro de Pacientes</h4>
                </br>
                <p>Aqui vamos encontrar várias formas de te ajudar:</p>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Cadastrando Pacientes</a>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Editando Pacientes</a>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal4">Consultando Pacientes</a>
                </br>
                </br>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal5">Removendo Pacientes</a>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal6">Imprimindo Pacientes</a>
                <a class="waves-effect waves-light btn modal-trigger" href="#modal7">Limpar campos de Pesquisa</a>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>

        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4 class="center blue-grey-text">Cadastrando Pacientes</h4>
                </br>
                <h5 class="blue-text">Para cadastrar um novo paciente siga o procedimento:</h5>
                </br>
                <p class="blue-text">&rarr;Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">add</i></b></p>
                <p class="grey-text">*Será aberto a página de Cadastro</p>
                <p class="blue-text">&rarr;Preencha o campo Nome com o nome do paciente</p>
                <p class="grey-text">*Este nome ficará disponivel para que seja buscado posteriormente no sistema</p>
                <p class="blue-text">&rarr;Clique no campo Sobrenome e preencha com o sobrenome do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Sexo e selecione o sexo do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Data de Nascimento e preencha com a data de nascimento do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Religião e preencha com a religião do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Estado civil e selecione o estado civil do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Cidade e preencha com a cidade do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Unidade Federativa e preencha com a Unidade Federativa do paciente</p>
                <p class="blue-text">&rarr;Clique no campo CEP e preencha com o CEP do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Endereço e preencha com o Endereço do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Telefone fixo e preencha com o Telefone fixo do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Telefone celular e preencha com o Telefone celular do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Email e preencha com o Email do paciente</p>
                <p class="blue-text">&rarr;Clique no campo CPF e preencha com a CPF do paciente</p>
                <p class="grey-text">*deve ser utilizado um CPF válido</p>
                <p class="blue-text">&rarr;Clique no campo RG e preencha com o RG do paciente</p>
                <p class="blue-text">&rarr;Clique no campo Antecedentes e selecione doenças que o paciente já teve</p>
                <p class="grey-text">*caso não tiver, pode deixar em branco</p>
                <p class="blue-text">&rarr;Clique no campo Medicamentos e selecione medicamentos que o paciente utiliza</p>
                <p class="grey-text">*caso não tiver, pode deixar em branco</p>
                <p class="blue-text">&rarr;Clique no botão Salvar para cadastrar o paciente</p>
                <p class="grey-text">*ou</p>
                <p class="red-text">&rarr;Clique no botão Voltar para não cadastrar o paciente, a página retornará para a lista de pacientes</p>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>

        <div id="modal3" class="modal">
            <div class="modal-content">
                <h4 class="center blue-grey-text">Editando Pacientes</h4>
                </br>
                <h5 class="blue-text">Para editar um paciente siga o procedimento:</h5>
                </br>
                <p class="blue-text">&rarr;Na linha do paciente que quer editar, Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">edit</i></b></p>
                <p class="grey-text">*Será aberto a página do paciente cadastrado</p>
                <p class="blue-text">&rarr;Clique no(s) campo(s) do paciente que deseja editar</p>
                <p class="grey-text">*Faça as alterações necessárias</p>
                <p class="blue-text">&rarr;Clique no botão Salvar para editar o paciente</p>
                <p class="grey-text">*ou</p>
                <p class="red-text">&rarr;Clique no botão Voltar para não editar o paciente, a página retornará para a lista de pacientes</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>

        <div id="modal4" class="modal">
            <div class="modal-content">
                <h4 class="center blue-grey-text">Consultando Pacientes</h4>
                </br>
                <h5 class="blue-text">Para Consultar um paciente siga o procedimento:</h5>
                </br>
                <p class="blue-text">&rarr;Clique no campo Nome e preencha o nome, ou parte, para consultar o nome do paciente</p>
                <p class="blue-text">&rarr;Clique no campo CPF e preencha o CPF do paciente para consultar</p>
                <p class="blue-text">&rarr;Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">search</i></b> para pesquisar</p>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>

        <div id="modal5" class="modal">
            <div class="modal-content">
                <h4 class="center blue-grey-text">Removendo Pacientes</h4>
                </br>
                <h5 class="blue-text">Para Remover um paciente siga o procedimento:</h5>
                </br>
                <p class="blue-text">&rarr;Na linha do paciente que quer remover, Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">delete</i></b></p>
                <p class="grey-text">*Será aberto uma janela</p>
                <p class="blue-text">&rarr;Clique no botão OK para remover o paciente</p>
                <p class="grey-text">*ou</p>
                <p class="red-text">&rarr;Clique no botão Cancelar para não remover o paciente, a página retornará para a lista de pacientes</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>


        <div id="modal6" class="modal">
            <div class="modal-content">
                <h4 class="center blue-grey-text">Imprimindo Ficha Paciente</h4>
                </br>
                <h5 class="blue-text">Para Imprimir uma Ficha do paciente siga o procedimento:</h5>
                </br>
                <p class="blue-text">&rarr;Na linha do paciente que quer imprimir a Ficha, Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">local_printshop</i></b></p>
                <p class="grey-text">*Será aberto uma janela de impressão do seu sistema</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>

        <div id="modal7" class="modal">
            <div class="modal-content">
                <h4 class="center blue-grey-text">Limpar Campo de Pesquisa</h4>
                </br>
                <h5 class="blue-text">Para Limpar o campo de pesquisa de um paciente siga o procedimento:</h5>
                </br>
                <p class="blue-text">&rarr;Na linha de Pesquisa, Clique no botão <b class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons ">clear_all</i></b></p>
                <p class="grey-text">*Será limpo o campo nome e cpf</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            </div>
        </div>
    </div>
</div>
</html>