<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Relatório de Listagens</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb" th:href="@{/report/}">Relatórios</a>
                            <a class="breadcrumb">Relatório de Listagens</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <form method="post" th:object="${filter}">
                    <div class="input-field col s7">
                        <select class="form-control">
                            <option>Consultas</option>
                            <option>Pacientes</option>
                            <option>Médicos</option>
                            <option>Medicamentos</option>
                            <option>Exames</option>
                            <option>Procedimentos</option>
                        </select>
                    </div>
                    <div class="input-field col s2">
                        <input id="dataInicial"  type="text" class="dataInicial">
                        <label for="dataInicial">Data Inicial</label>
                    </div>
                    <div class="input-field col s2">
                        <input id="dataFinal" type="text" class="dataFinal">
                        <label for="dataFinal">Data Final</label>
                    </div>
                    <div class="col s1">
                        <button target="_blank" type="submit"
                                class="btn-floating btn-large waves-effect waves-light blue"><i
                                class="material-icons">done</i></button>
                    </div>
                </form>
            </div>

            <th:block th:include="message"></th:block>

        </div>
    </div>
</div>
</html>